# Core
pyrofork==2.3.45
tgcrypto-pyrofork

# Database
pymongo[srv]==4.11.1
motor==3.7.0
umongo
dnspython==2.6.1

# Serialization
marshmallow==3.26.1

# Utils
requests
bs4
shortzy
datetime
pytz
aiohttp
aiofiles
ujson
wget
humanize
python-dotenv==0.21.1
python-decouple

# Image / Video / Media
opencv-python-headless==4.8.1.78
Pillow
ffmpeg-python==0.2.0

# Performance
numpy
psutil
speedtest

# Templating
jinja2

# String matching
fuzzywuzzy
python-Levenshtein==0.21.0

# External git dependency (cinemagoer)
git+https://github.com/Joelkb/cinemagoer
